.myheader {
    background-color: rgba(5, 5, 5, 0.300); 
} 

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}