<div class="content">
    <p class="heading"> Любишь вкусное мороженое?</p>
    <p class="heading"> Приходи к нам! </p>
    <div class="info">
      <p> пл.Свободы 23А </p>
      <p> +38 (096) 51 74 823 </p>
      <p> Ежедневно : с 8:00 до 22:00  </p>
    </div>
</div>

<ngx-carousel class='carousel'
[inputs]="carouselOne"
(carouselLoad)="myfunc($event)">
  <ngx-item NgxCarouselItem>
    <img src='app/img/5.jpg'>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img src='app/img/ice2.jpg'>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img src='app/img/ice3.jpg'>
  </ngx-item>

  <button NgxCarouselPrev class='leftRs' > 
  </button>

  <button NgxCarouselNext class='rightRs' >
  </button>

</ngx-carousel>

