<p>
    Confectionary Factory "POLUS" was established in 1996.
    
    
    The first product, released by "POLUS" company, was our legendary bar "Polus", which has been a favorite delicacy of Ukrainian people for more than 20 years. This bar gained incredible popularity because of its nutritious, rich taste, convenient format, and natural and high-quality components. "Polus" bar with the hazelnuts is the basis of our confectionery manufacturing. For its production, we purchase the high-quality Georgian hazelnuts and cocoa of the best grades.
    
    
    In our products, we do not use preservatives, coloring agents, and GMOs.
    
    
    The main priority of the Confectionary Factory "POLUS" is the quality. Products of Company "POLUS" is certified according to Food Safety Management System HACCP ISO 22000. Entering new markets, we are ready to receive all the necessary certificates to fully comply with the standards of the importing country. So, in the beginning of 2017, we received the HALAL certificate. In addition, there is a certified laboratory on the basis of our Company.
    
    
    Confectionary Factory "POLUS" has a flexible production, great technical and technological capabilities. We produce a wide range of waffle products: wafer bars, weighted wafers, sweets, gift cakes and waffle semi-finished products. Currently, the Confectionary Factory "POLUS" successfully enters new markets in the countries of Europe and Middle Asia.
    
    
    We follow all the leading market trends in the field of sales and production.
    
    
    We follow the preferences of our customer and try to supply it with the quality and delicious product.
    
    
    We believe that our bar will become not only the favorite delicacy of Ukrainian people, but also people all over the world.
</p>