<h1 routerLink="/about"> О НАС </h1>
<div id="about"> 
    <img src="app/img/imgabout.png" alt="about">
    <div id="text">
        <p> Наше уютное кафе в центре города обязательно стоит посетить всем любителям настоящего мороженого. 
        Здесь можно приобрести любой из более чем 10 оригинальных и классических вкусов мороженного «Полюс», 
        компании которая завоевала сердца сотни клиетнов.  
        </p>
        <p> Помимо мороженого  в фирменном кафе предлагаются сорбеты, 
            фондю из мороженного с ароматным горячим шоколадом и кусочками брауни, превосходный ароматный кофе и много 
            других вкусностей!      
        </p>
    </div>
</div>
<img src="app/img/icon1.png" alt="icecream" id="icon1">
<img src="app/img/icon2.png" alt="icecream" id="icon2">